# Firebase Configuration
FIREBASE_PROJECT_ID=tu_project_id
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----
TU_PRIVATE_KEY_AQUI
-----END PRIVATE KEY-----
"
FIREBASE_CLIENT_EMAIL=tu_cliente@firebaseproject.iam.gserviceaccount.com

# Dhru Fusion API
DHRU_USERNAME=TU_USUARIO_DHRU
DHRU_API_KEY=TU_API_KEY_DHRU

# Telegram Bot
TELEGRAM_BOT_TOKEN=TU_TOKEN_DE_TELEGRAM
TELEGRAM_ADMIN_ID=TU_ID_DE_ADMIN
